<div class = "container">
    <h1 align="center"> Liste de transactions</h1>
    <table class="matable" border="1">
    <thead>
        <tr>
            <th> firstName</th>
            <th> lastName</th>
            <th> Address </th>
            <th> BirthDate </th>
            <th> PhoneNumber </th>
            <th> Gender </th>
        </tr>
    </thead>
    
    <tbody>
        <tr *ngFor="let p of patientList">
            <td class="data">{{p.firstName}}</td>
            <td class="data">{{p.lastName}}</td>
            <td class="data">{{p.address}}</td>
            <td class="data">{{p.birthDate}}</td>
            <td class="data">{{p.phoneNumber}}</td>
            <td class="data">{{p.gender}}</td>
        </tr>
    
    </tbody>
    
    </table>
    </div>